html {
    min-height: 100%;

}

body {
    background-image: -webkit-radial-gradient(10% 0, farthest-side ellipse, rgba(119, 157, 207, 0.8) 30%, rgba(174, 180, 186, 0.8) 76%, rgba(199, 175, 156, 0.8));
}

.container {
    margin: 0 auto;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    vertical-align: middle;
    padding: 20px 0;
}

.row li {
    margin: 10px 0;
}